.fotoFundo{
    background-image : url("https://i.imgur.com/d5bMdDJ.jpg");
    min-height : 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-decoration{
    background-color: pink !important;
    color: rgb(179, 51, 73) !important;
    cursor: pointer;
}

.corEntradas{
    background-color: pink;
}

.text-decorator-none{
    text-decoration: none;
}

.first-text{
    font-weight: bold;
    color: aquamarine;
}

.fullfill-vh-color{
    background-color: rgb(214, 93, 93)!important;
}