.titulo {
    color : rgb(156, 30, 156);
    font-weight: bold;
}

.fotoHome{
    width:500px;
    height:500px;
    display :block(
        margin = 0 auto
    )
}

.custom-button-post{
    border-color: white;
    background-color: #d62a8e!important;
    color: white!important;
    margin-top: 5px!important;
}

.postagem{
    background-color: white;
}