.icons{
    font-size: 60px!important;
    color: white;
}

.text-white{
    color: white;
}

.upper-box-color-hg{
    background-color: #3F51B5;
    height: 120px;
}

.lower-box-color-hg{
    background-color: #303F9F;
    height: 60px;
}